# AI Agents and IDE
.agents
.vscode
.school-doc
AGENTS.md
.cursor
.idea
.trellis/
# macOS
.DS_Store

# temp files and logs
*.log
*.tmp
*.bak
*.swp

# target files and build artifacts
.cache/
server
target/
build/
bin/
node_modules/
frontend/node_modules/
frontend/dist/
backend/memobase-server
backend/storage/
.env
qdrant_storage/